<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看所有书籍</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>pub</th>
        <th>price</th>
        <th>market_price</th>
        <th>op</th>
    </tr>
    {% for book in all_book %}
        <tr>
            <th>{{ book.id }}</th>
            <th>{{ book.title }}</th>
            <th>{{ book.pub }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.market_price }}</th>
            <th>
                <a href="/bookstore/update_book/{{ book.id }}">更新</a>
                <a href="/bookstore/delete_book?book_id={{ book.id }}">删除</a>
            </th>
        </tr>
    {% endfor %}
</table>

</body>
</html>